<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="intro">
    <p>
      <a href="https://github.com/wayandandae/jungle-rails">Jungle</a> is a mini e-commerce application that sells various jungle items. This is a Ruby on Rails project designed by <a href="https://www.lighthouselabs.ca">Lighthouse Labs</a>.
    </p>
  </div>

</section>